<div class="questions center">
	<%= form_for(@question, :url => job_questions_path(@job)) do |f| %>
	  <% if @question.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

	      <ul>
	      <% @question.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field1">
	    <%= f.label "Question 1:" %><br />
	    <%= f.text_area :question1 %>
	  </div>
	  <div class="field">
	    <%= f.label "Question 2:" %><br />
	    <%= f.text_area :question2 %>
	  </div>
	  <div class="field">
	    <%= f.label "Question 3:" %><br />
	    <%= f.text_area :question3 %>
	  </div>
	  <div class="field">
	    <%= f.label "Question 4:" %><br />
	    <%= f.text_area :question4 %>
	  </div>
	  <div class="field">
	    <%= f.label "Question 5:" %><br />
	    <%= f.text_area :question5 %>
	  </div>
		<div class="field">
	    <%= f.label "Question 6:" %><br />
	    <%= f.text_area :question6 %>
	  </div>
		<div class="field">
	    <%= f.label "Question 7:" %><br />
	    <%= f.text_area :question7 %>
	  </div>
		<div class="field">
	    <%= f.label "Question 8:" %><br />
	    <%= f.text_area :question8 %>
	  </div>
		<div class="field">
	    <%= f.label "Question 9:" %><br />
	    <%= f.text_area :question9 %>
	  </div>
		<div class="field">
	    <%= f.label "Question 10:" %><br />
	    <%= f.text_area :question10 %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Create Study Guide" %>
	  </div>
	<% end %>
</div>