<p id="notice"><%= notice %></p>

<p>
  <b>Walk us through your resume :</b>
  <%= @question.question1 %>
</p>

<p>
  <b>Why are looking to leave your current firm? :</b>
  <%= @question.question2 %>
</p>

<p>
  <b>Why does this job interest you? :</b>
  <%= @question.question3 %>
</p>

<p>
  <b>Describe a typical day in your current role :</b>
  <%= @question.question4 %>
</p>

<p>
  <b>Describe your current product knowledge :</b>
  <%= @question.question5 %>
</p>

<p>
  <b>Why does operations appeal to you? :</b>
  <%= @question.question6 %>
</p>

<p>
  <b>What are your biggest strengths and weaknesses? :</b>
  <%= @question.question7 %>
</p>

<p>
  <b>Given the choice to work within a team or alone, which would you choose and why? :</b>
  <%= @question.question8 %>
</p>

<p>
  <b>How can you add value to the team? :</b>
  <%= @question.question9 %>
</p>

<p>
  <b>Tell us something not on your resume :</b>
  <%= @question.question10 %>
</p>


<%= link_to 'Back', jobs_path %>

