<p id="notice"><%= notice %></p>


<div class="answer_field center">
	  <h4>1. Walk us through your resume :</h4>
	  <p><%= @question.question1 %></p>

	  <h4>2. Why are looking to leave your current firm? :</h4>
	  <p><%= @question.question2 %></p>
	
	  <h4>3. Why does this job interest you? :</h4>
	  <p><%= @question.question3 %></p>

	  <h4>4. Describe a typical day in your current role :</h4>
	  <p><%= @question.question4 %></p>

	  <h4>5. Describe your current product knowledge :</h4>
	  <p><%= @question.question5 %></p>

	  <h4>6. Why does operations appeal to you? :</h4>
	  <p><%= @question.question6 %></p>

	  <h4>7. What are your biggest strengths and weaknesses? :</h4>
	  <p><%= @question.question7 %></p>

	  <h4>8. Given the choice to work within a team or alone, which would you choose and why? :</h4>
	  <p><%= @question.question8 %></p>

	  <h4>9. How can you add value to the team? :</h4>
	  <p><%= @question.question9 %></p>

	  <h4>10. Tell us something not on your resume :</h4>
	  <p><%= @question.question10 %></p>
</div>

<%= link_to 'Back', jobs_path %>



