<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.name %></td>
		<% if admin? %>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin? %>
	<%= link_to 'New Job', new_job_path %>
	<br \>
	<%= link_to 'Question Index', job_questions_path(:job_id) %>
<% end %>
