<p id="notice"><%= notice %></p>

<h3>Study these answers to ace your <%= @job.name %> interview!</h3>

<div class="answer_field center">
	  <h4><%= @question.question1 %>:</h4>
	  <p><%= @answer.answer1 %></p>

	  <h4><%= @question.question2 %>:</h4>
	  <p><%= @answer.answer2 %></p>
	
	  <h4><%= @question.question3 %>:</h4>
	  <p><%= @answer.answer3 %></p>

	  <h4><%= @question.question4 %>:</h4>
	  <p><%= @answer.answer4 %></p>

	  <h4><%= @question.question5 %>:</h4>
	  <p><%= @answer.answer5 %></p>

	  <h4><%= @question.question6 %>:</h4>
	  <p><%= @answer.answer6 %></p>

	  <h4><%= @question.question7 %>:</h4>
	  <p><%= @answer.answer7 %></p>

	  <h4><%= @question.question8 %>:</h4>
	  <p><%= @answer.answer8 %></p>

	  <h4><%= @question.question9 %>:</h4>
	  <p><%= @answer.answer9 %></p>

	  <h4><%= @question.question10 %>:</h4>
	  <p><%= @answer.answer10 %></p>
</div>

<br \>

<p id="pdf_link"><%= link_to "Download Your Answers (PDF)", job_question_answer_path(@job_id, @question_id, @answer, :format => "pdf") %></p>
<p id="pdf_link"><%= link_to "Download Your Answers (PDF)", job_question_answer_path(@answer.job_id, @answer.question_id, @answer, :format => "pdf") %></p>

<h3>Let us know what we can do to make Preptly better, <%= link_to 'Contact Us Here', contact_path %>!</h3>



<% if admin? %>
<%= link_to 'Edit', edit_job_question_answer_path(@answer) %> |
<%= link_to 'Back', job_question_answers_path %>
<% end %>