<header>
	<a class="imglink" href="/" >
	  <%= image_tag "preptly1.png", :alt => "Preptly Logo" %>
	</a>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
			<li><%= link_to "Jobs List", list_path %></li>				
		</ul>
	</nav>
</header>